*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
log
.idea/*
*plugin.xml

# YARD artifacts
.yardoc
_yardoc
doc/

# compressed assets
public/css
public/js

# sass cache
.sass-cache/

# macos tracking files
.DS_Store

# packts 
spec/pacts/

# Jmeter artifacts
build/
jmeter.log
*.jtl
server_error
server_log

# cucumber artifacts
cucumber.json*

# bourbon
assets/stylesheets/bourbon/
