
$container-height: 200px;
@import "_footer_customisation.scss";
@import "../desktop-upwards/_style";

.vca-layout-mobile {
  display: none;
}

.vca-responsive-desktop {
  display: block;
}

.tnt-frame {
  width: $container-width;
}