#vha-vca.tnt-footer
  -if @mega_menu
    .vca-layout-mobile
      =@mega_menu['mobile']['footer_html']
    #page-footer-container.vha-vca-footer-lh.vca-responsive-desktop
      =@mega_menu['desktop']['footer_html']