.tracking-info
  -if locals[:tracking].has_tracking?
    %table.events
      %tr.heading
        %th Date/Time
        %th Status
      - locals[:tracking].events.each do |event|
        %tr
          %td.event-date= "#{event['date_time']}"
          %td.event-status= "#{event['description']}"
