-if locals[:tracking]['events']
  .tracking-info
    %table
      %tr
        %th Date/Time
        %th Status
      - locals[:tracking]['events'].each do |event|
        %tr
          %td.event-date= "#{event['date_time']}"
          %td.event-status= "#{event['description']}"
