%article
  %h1 Trace your order

  %form#auth-form.form{ :action => '#', :method => 'post' }
    %fieldset
      %label.tracking_label{:for => 'tracking_id'} Tracking Number
      .input-wrapper
        %input#tracking_id{:type => 'text', :name => 'tracking_id', :value => @order_id, :disabled => true}

      - if @auth_email
        %label.tracking_label{:for => 'validation_data'} Email address
        .input-wrapper
          %input#email{:type => 'text', :name => 'email' }
        #email-format-validation.hidden
          %p Wrong Email format.
      - elsif @auth_birthday
        %label.tracking_label{:for => 'validation_data'} Date of birth
        .input-wrapper
          %input#date-of-birth{:type => 'text', :name => 'date_of_birth' }

      .input-wrapper
        %button.trace{:type => 'submit'} Trace your order

  = haml :_loading_spinner

  = haml :_info_links
