!!!
!= css :application
!= js :application

%html
  %head
    %title Track and trace
    %meta{ name: "viewport", content: "width=device-width, user-scalable=no"}
    <!--[if lt IE 9]><!-->
    %script{ src: '/js/vendor/html5shiv.js' }
    <!--<![endif]-->
  %body
    = yield
