!!!
%html
  %head
    %title Track and trace
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}/
    <!--[if lt IE 9]>
    %script{ src: '/js/vendor/html5shiv.js' }
    <![endif]-->

    <!--[if gte IE 9]>
    <!-- This code is visible to IE9 and above and all non-IE browsers. -->
    -if @mega_menu
      -@mega_menu['desktop']['css'].each do |css_url|
        %link(rel='stylesheet' type="text/css" href="#{css_url}" media='only screen and (min-width: 760px)')
      -@mega_menu['mobile']['css'].each do |css_url|
        %link(rel='stylesheet' type="text/css" href="#{css_url}" media='only screen and (max-width: 759px)')
    <![endif]-->

    !=css :application

    <!--[if lte IE 9]>
    -if @mega_menu
      -@mega_menu['desktop']['css'].each do |css_url|
        %link(rel='stylesheet' type="text/css" href="#{css_url}")
    %link{ :rel => :stylesheet, :type => :"text/css", :href => "/css/ie/ie.css"}/
    %script{ src: '/js/vendor/jquery-1.10.2.min.js' }
    %script{ src: '/js/vendor/ie/jquery.html5-placeholder-shim.js' }
    <![endif]-->

  %body#vha-vca.tnt-body
    .container
      =haml :_header
      .tnt-container
        .tnt-bg-holder
        .tnt-frame
          .tnt-content
            =yield
      =haml :_footer


  -if @mega_menu
    -@mega_menu['desktop']['js'].each do |js_url|
      %script(src=js_url)
    -@mega_menu['mobile']['js'].each do |js_url|
      %script(src=js_url)
  != js :application