= haml :header

.container
  %article
    %h1 Trace your order

    %form#track-form.track-form{ :action => "/track", :method => 'post' }
      - if @error
        .alert
          .icon
            %img{src: 'images/alert_icon.png'}
          %span.msg= @error

      %fieldset
        %label.tracking_label{:for => 'tracking_id'} Tracking Number
        %img.help-icon{ src: 'images/help-icon.png' }
        .input-wrapper
          %input#tracking_id{:type => 'text', :name => 'tracking_id' }

      .input-wrapper
        %button.trace#trace{:type => 'submit'} Trace your order

    .hidden#loading
      .loader.loader-sml

      <!--[if lte IE 9]>
      %img{ src: 'images/loader.gif' }
      <![endif]-->
      %p.desc Processing...

    %ul.info
      %li.phone
        %a{href: "tel://0430123456"}
          .action-title Call Customer Care
          We'll help you, any time of day or night
