%h1 Trace Your Order
%p
  %span.order-number-label Order Status for order number:
  %span.order-number= locals[:order].order_number
  =locals[:order].orders

- if !locals[:order].orders.empty?
  = haml :_order_details, locals: {details: locals[:order].orders[0]}

= haml :_info_links
