%h1 Trace your order.
.div(style='position: relative')
  %form.order-number-reminder(action='/tnt' method='GET')
    %span.order-number-block
      %span.order-number-label Order number:
      %span.order-number= locals[:order].order_number
    %button.trace.tnt-button
      Change

- if !locals[:order].orders.empty?
  - locals[:order].orders.each do |order|
    = haml :_order_details, locals: {details: order, status_glyph: lookup_status_glyph(order.tracking_status)}

=haml :_terms_link
