%h1 Trace your order.
%p.order-number-reminder
  %span.order-number-label Order number:
  %span.order-number= locals[:order].order_number

- if !locals[:order].orders.empty?
  - locals[:order].orders.each do |order|
    = haml :_order_details, locals: {details: order}

=haml :_terms_link
