.terms-and-conditions-page
  %h1 Terms and Conditions
  %ol
    %li These terms apply to Track and Trace service only (not any of the other services we provide you).
    %li Of course we’ll do our best to deliver according to estimated time frames, but please remember all times/dates quoted are estimates only, based on availability, normal processing and the accuracy of information provided to us by our delivery company.
    %li We can’t absolutely guarantee the content or accuracy of information provided through this service. In particular we cannot guarantee that you will receive email notification of each track advice, or that you will receive track advice notification in the correct order.
    %li To the extent allowed by law we exclude all liability for any loss caused by the use of, or reliance on, this service.