%article
  %h1 Trace your order.

  %form#track-form.form{ action: '/tracking', method: 'post' }
    %fieldset
      %label.tracking_label{:for => 'tracking_id'} Tracking number
      .input-wrapper
        %input#tracking_id{:type => 'text', :name => 'tracking_id', :autofocus => true, :value => @order_id}

      - if @error
        #server-error-msg.error-msg-block
          %img.glyph.error{src: '/tracking/images/empty.png'}
          .error-msg
            =@error

      #input-validation-msg.error-msg-block.hidden
        %img.glyph.error{src: '/tracking/images/empty.png'}
        .error-msg
          =@validation_error_msg

    .input-wrapper
      %button.trace.tnt-button#trace(type='submit')
        %span.strong
          Trace
        your order

  = haml :_loading_spinner

  =haml :_terms_link
