@import 'reset';
@import '../bourbon/bourbon';
@import "_variables";
@import "_style";
@import "_terms";
@import "_form";
@import "_order_details";
@import "_trace";
@import "_vodafone_font";

// Make animations use 3d acceleration
%smoother-animation {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}