form.form {

  fieldset {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }

  label {
    font-weight: normal;
    display: block;
    color: $text-grey;

    &.tracking_label {
      margin: 25px 0 10px 0;
    }
  }

  input {
    width: 100%;
    box-sizing: border-box;
    @include input-box-shadow;
    padding: .75em 1em;
    color: $text-grey;
    margin: $button-input-margin;
    border: $global-border;
    border-radius: $global-border-radius;
    background-color: $white;
    &:focus { border-color: $input-box-focus-border; }
    &:disabled { border: none; }
  }


  .error-msg-block {
    margin-top: 6px;
    border: 1px solid $vodafone-red;
    border-radius: $global-border-radius;
    background-color: $alert-background-color;
    color: $text-grey;
    line-height: $global-line-height;
  }

  .error-msg {
    padding: $text-spacing-vt $text-spacing-hz $text-spacing-vt $glyph-width + $text-spacing-hz;
    @include clearfix;
  }

  img.help-icon {
    float: right;
    width: 25px;
    margin-top: 5px;
  }

  button.trace {
    margin-top: 2em;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    tr {
      td {
        font-size: $em-base;
        border-top: 0;
        .glyph {
          margin-top: 6px;
          margin-bottom: 6px
        }
      }
    }

  }

}
