form.form {

  fieldset {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }

  label {
    font-weight: normal;
    display: block;
    color: $text-grey;

    &.tracking_label {
      margin: 25px 0 10px 0;
      line-height: 1.3em;
    }
  }

  input {
    font-size: 1em;
    font-family: $arial;
    width: 100%;
    box-sizing: border-box;
    @include input-box-shadow;
    padding: .75em 1em;
    color: $text-grey;
    margin: $button-input-margin;
    border: $global-border;
    border-radius: $global-border-radius;
    background-color: $white;
    &:focus { border: 2px solid $input-box-focus-border; }
    &:disabled { border: none; }
  }


  .error-msg-block {
    margin-top: 6px;
    border: 1px solid $vodafone-red;
    border-radius: $global-border-radius;
    background-color: $alert-background-color;
    color: $text-grey;
    line-height: $global-line-height;
  }

  .error-msg {
    margin: 0 $text-spacing-hz $text-spacing-vt $glyph-width + $text-spacing-hz * 2;
    line-height: $global-line-height;
    @include clearfix;
  }

  .error-heading {
    color: $text-grey;
    font-family: $arial;
    font-size: 1.14em;
    font-weight: bold;
    padding: 18px 0 0 $glyph-width + $text-spacing-hz;
    margin: 0 $text-spacing-hz;
    @include clearfix;
  }

  img.help-icon {
    float: right;
    width: 25px;
    margin-top: 5px;
  }

}
