@mixin grey-text-box {
  padding: $text-spacing-vt $text-spacing-hz;
  background-color: $palest-grey;
  color: $text-grey;
  font-size: 1em;
  font-family: $arial;
  font-weight: bold;
}

.order-number-reminder {
  @include grey-text-box;
  margin: $text-spacing-vt 0;
  height: 30px;
  display: table;
  width: 96%;

  .order-number-block {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
  }

  button {
    float:right;
    width: 120px;
  }
}

.order_line_item_details {
  border: $global-border;
  border-radius: $global-border-radius;
  color: $text-grey;
  margin-top: $text-spacing-vt;

  .status-heading {
    color: $text-grey;
    padding: 18px 0 $text-spacing-vt $glyph-width + $text-spacing-hz;
    margin: 0 $text-spacing-hz;
    @include clearfix;
  }

  #auspost-status {
    border-top: $global-border;
  }

  .order-details-heading, .ship-date-heading {
    @include grey-text-box;
  }

  .status-message, .auspost-status-message, .ship-message, .ship-date {
    padding: $text-spacing-vt 0;
    margin: 0 $text-spacing-hz;
    line-height: $global-line-height;
  }

  .status-message, .auspost-status-message {
    border-top: $global-border;
  }

  table {
    table-layout: fixed;
    width: 100%;
    margin: 0 0 $text-spacing-vt 0;
  }

  th {
    @include grey-text-box;
    text-transform: none;
  }

  td {
    line-height: $global-line-height;
    font-size: 1em;
    border: none;
    padding: $text-spacing-vt 0 0 $text-spacing-hz;
  }

  td:last-child {
    padding-right: $text-spacing-hz;
  }

  .item-quantity {
    width: 10%;
    white-space: nowrap;
  }

  .item {
    width: 65%;
    overflow-wrap: break-word;
  }

  .item-status {
    width: 25%;
  }

}