//primary color
$vodafone-red: #E60000;
$white: #ffffff;
$palest-grey: #f4f4f4;
$off-white: #efefef;
$pale-grey: #dcdcdc;
$light-grey: #ccc;
$text-grey: #333;
$input-box-shadow: #4D4D4D;
$black: #000000;
$input-box-focus-border: #1ba6ce;
$alert-background-color: #fef0f0;

$button-input-margin: 0.3em 0 0.5em 0;

// Text variables
$em-base: 14px;
$text-spacing-vt: 14px;
$text-spacing-hz: 11px;
$global-line-height: 1.3em;
$global-font-family: "Arial Regular", Arial, sans-serif;

//Boxes and lines
$global-border-radius: 3px;
$global-border: 1px solid $light-grey;
$glyph-height: 25px;
$glyph-width: 25px;

//gutter
$gutter-vertical: 10px;

//nav
$nav-height: $em-base*3;
$header-gradient-stop-1: #ff0027;
$header-gradient-stop-2: #be0025;

$status-highlight: #d4e5e7;