//primary color
$vodafone-red: #E60000;
$white: #ffffff;
$off-white: #efefef;
$light-grey: #c7c7c7;
$black: #000000;

// Aqua Blue
$aqua-blue: #1ba6ce;

$button-input-padding-vt: .75em;

// Misc variables
$em-base: 16px;
$global-border-radius: 4px;
$global-border: 1px solid $light-grey;
$global-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);

//gutter
$gutter-vertical: 10px;

//nav
$nav-height: $em-base*3;
$header-gradient-stop-1: #ff0027;
$header-gradient-stop-2: #be0025;

$status-highlight: #d4e5e7;

//alert
$alert-background-color: $off-white;