@font-face {
  font-family: VodafonePTYRgBold;
  src: url('../fonts/vodafoneptyrgbd_digital-webfont-webfont.eot');
  src: url('../fonts/vodafoneptyrgbd_digital-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vodafoneptyrgbd_digital-webfont-webfont.woff') format('woff'),
    url('../fonts/vodafoneptyrgbd_digital-webfont-webfont.ttf') format('truetype'),
    url('../fonts/vodafoneptyrgbd_digital-webfont-webfont.svg#vodafone_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: VodafonePTYRgRegular;
  src: url('../fonts/vodafoneptyrg_digital-webfont-webfont.eot');
  src: url('../fonts/vodafoneptyrg_digital-webfont-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vodafoneptyrg_digital-webfont-webfont.woff') format('woff'),
    url('../fonts/vodafoneptyrg_digital-webfont-webfont.ttf') format('truetype'),
    url('../fonts/vodafoneptyrg_digital-webfont-webfont.svg#vodafonepty_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;

}