/*
* Internet Explorer stylesheet
*/

@import "base/base";

// Import "un-mediaqueried" stylesheets relevant to achieve desktop appearance
@import "tablet-upwards/tablet-upwards";
@import "desktop-upwards/desktop-upwards";

.tnt-bg-holder {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/background.jpg', sizingMethod='scale')";
}

#loading {

  .loader.loader-sml {
    display: none;
  }

  img {
    margin-top: 20px;
  }

  p.desc {
    padding-top: 0;
  }
}
