/*
* Internet Explorer stylesheet
*/

@import "base/base";

// Import "un-mediaqueried" stylesheets relevant to achieve desktop appearance
@import "tablet-upwards/tablet-upwards";
@import "desktop-upwards/desktop-upwards";

#loading {

  .loader.loader-sml {
    display: none;
  }

  img {
    margin-top: 20px;
  }

  p.desc {
    padding-top: 0;
  }
}
