$normal_font_size: 12px;
$container-width: 400px;

@import 'views/bourbon/bourbon';
@import "assets/stylesheets/_variables";
@import "assets/stylesheets/_form";
@import "assets/stylesheets/_trace";

@import "assets/stylesheets/mobile/mobile_menu_customisation";
@import "assets/stylesheets/_footer_customisation";
@import "assets/stylesheets/_header_customisation";

.margin-wrapper {
  margin-left: 40px;
}

body{
  margin: 0;
  font-family: Helvetica;
  font-size: $normal_font_size;
  background-color: $white;
}

.container {
  margin: 0 auto;
  max-width: $container-width;
}

.hidden {
  display: none;
}

article{
  padding: 10px;
}

h1 {
  color: #e60000;
  font-family: VodafonePTYRgRegular;
  font-size: 42px;
  font-weight: normal;
  margin: 0;
}

button.tnt-button {
  padding: $button-input-padding-vt .5em;
  color: $white;
  text-transform: uppercase;
  border: none;
  border-radius: $global-border-radius;
  margin-top: 2em;
  font-size: inherit;
}

ul.info {
  background: $off-white;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  line-height: 1.5em;
  list-style: none;
  padding: 0;

  &.info {
      margin-top: 3em;
  }

  li {
      border-bottom: 1px solid #dcdcdc;
      padding: 10px 10px 10px 45px;
      background-repeat: no-repeat;
      background-position: 15px 50%;

      &:last-child{
        border-bottom: 0
      }

      &.details{
        // icon here
        background-image: url("/images/details.png");
      }
      &.phone {
        // icon here
        background-image: url("/images/phone.png");
        a {
          color: #000;
          text-decoration: none;
        }
      }

      .action-title {
        font-weight: bold;
      }
  }
}

#loading {
  text-align: center;
  position: relative;

  p.desc {
    padding-top: 60px;
  }
}

