$normal_font_size: 12px;

@import "assets/stylesheets/_variables";
@import "assets/stylesheets/_form";
@import "assets/stylesheets/_header";

body{
  margin: 0;
  font-family: Helvetica;
  font-size: $normal_font_size;
}



article{
  padding: 10px;
}

h1 {
  color: #e60000;
  font-family: VodafonePTYRgRegular;
  font-size: 42px;
  font-weight: normal;
  margin: 0;
}



strong {
  display: block;
}

ul {
  background: $off-white;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  line-height: 1.5em;
  list-style: none;
  padding: 0;

  &.info {
      margin-top: 3em;
  }

  li {
      border-bottom: 1px solid #dcdcdc;
      padding: 10px 10px 10px 45px;
      background-repeat: no-repeat;
      background-position: 15px 50%;
  
      &:last-child{
        border-bottom: 0
      }
  
      &.details{
        // icon here
        background-image: url("/images/details.png");
      }
      &.phone {
        // icon here
        background-image: url("/images/phone.png");
        a {
          color: #000;
          text-decoration: none;
        }
      }
  }
}