@import "_header_customisation";
@import "_footer_customisation";

$container-height: 600px;

@import "_style";

h1 {
  font-size: 36px;
}

button.tnt-button {
  padding: 0;
}

.vca-layout-mobile {
  display: none;
}

.vca-responsive-desktop {
  display: block;
}

.tnt-frame {
  width: $container-width;
}

.tnt-body {
  position: static;
}

.container {
  padding-bottom: 0;
}
