li {
  list-style: none;
}

dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: #333333;
}

#vha-vca .vha-vca-ft {
  padding: 20px 0;
  margin-top: 0;
}

.vha-vca-footer-lh {
  margin: 0 auto !important;
}