$container-width: 954px;
$content-width: 420px;
$white: #ffffff;

.tnt-container {
  margin: 0 auto;
  position: relative;
  background-color: $white;
  min-height: $container-height;
}

.tnt-frame {
  padding: 60px 0;
}

.tnt-content {
  width: $content-width;
  background-color: $white;
  padding: 30px;
  border-radius: $global-border-radius;
}

.tnt-bg-holder {
  background-image: url(/images/background.jpg);
  background-color: $white;
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: auto 100%;

  position: absolute;
  bottom: 0;
  height: 100%;
  max-height: 900px;
  width: 100%;
  z-index: 10;
}