$container-width: 954px;
$content-width: 420px;
$white: #ffffff;

.tnt-container {
  margin: 0 auto;
  min-height: 380px;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 10;

  background-image: url(../images/gradient.jpg);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 100% 100%;
}

.tnt-frame {
  padding: 60px 0;
  position: relative;
  min-height: 380px;
  width: $container-width;

  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 100%;
}

.tnt-content {
  width: $content-width;
  background-color: $white;
  padding: 30px;
  border-radius: $global-border-radius;
}

.tracking_label {
  width: 75%;
}