@import "_header_customisation";
@import "_footer_customisation";

$container-height: 600px;

@import "_style";

.vca-layout-mobile {
  display: none;
}

.vca-responsive-desktop {
  display: block;
}
